# Ignore everything at repo root except listed folders and this file
/*
!.gitignore

!/analysis/
!/analysis/**

!/data/
!/data/**

!/markowitz/
!/markowitz/**

!/naive/
!/naive/**

!/rl_ppo/
!/rl_ppo/**


!/OLD_project_slides.pdf
!/NEW_project_slides.pdf
!/README.md
!/requirements.txt


# Ignore CSV files everywhere (including inside the included folders)
*.csv

# Ignore Python cache and system files
__pycache__/
*.pyc
.DS_Store
Thumbs.db
